table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
th, td {
    border: 1px solid black;
    padding: 6px;
}
th {
    background-color: #ccc;
}
.semestre {
    background-color: #999;
    font-weight: bold;
}
.media {
    background-color: #eee;
    font-weight: bold;
}
button {
    margin: 10px 5px;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
}
button:hover {
    background-color: #ddd;
}

